// margins
$mt-siblings: 1rem;
$mb-siblings: 1rem;
$mr-siblings: 1rem;

$mt-blocks: 2rem;
$mb-blocks: 2rem;

$mr-children: 1rem;
$mb-children: 1rem;
$ml-children: 1rem;

//paddings
$pt-children: 1rem;
$pr-children: 1rem;
$pb-children: 1rem;
$pl-children: 1rem;

// pages
$pr-page-small: 2rem;
$pl-page-small: 2rem;

$pr-page-medium: 4rem;
$pl-page-medium: 4rem;

$pr-page-big: 10rem;
$pl-page-big: 10rem;

// gap
$grid-gap: 0.5rem;

// breakpoints
$small-break: 576px;
$medium-break: 768px;
$big-break: 992px;

// border
$border-rounded: 12px;