<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "movie-description.title" | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p
      class="description"
      [attr.aria-label]="'movie-description.aria.description' | translate"
    >
      {{ description }}
    </p>
    <p>
      <span>
        <strong>{{ "movie-description.keywords" | translate }}:</strong>
      </span>
      <span *ngFor="let keyword of keywords; last as isLast" class="keyword">
        {{ keyword.keyword + (isLast ? "." : ", ") }}
      </span>
    </p>
  </mat-expansion-panel>
</mat-accordion>
