<section class="movie-page page">
  <div
    *ngIf="isLoading; else showMovie"
    class="d-flex justify-center mt-siblings"
  >
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <ng-template #showMovie>
    <ng-container *ngIf="movie; else error">
      <app-movie-details [movie]="movie"></app-movie-details>
    </ng-container>
    <ng-template #error>
      <div
        class="d-flex justify-center mt-siblings error"
        role="alert"
        aria-live="polite"
      >
        {{ 'single-movie.error' | translate }}
      </div>
    </ng-template>
  </ng-template>
</section>
